#body{
	background-color: #F0F0F0;
	margin: 0px;
	width: 100%;
	height: 100vh;
}
.uploadPage{
	width: 750px;
	margin: auto;
	margin-top: 100px;
	height: 500px;
	background-color: white;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
}
.heading{
	font-size: 35px;
	color: gray;
	text-align: center;
	line-height: 100px
}
.listContents{
	
}
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";  
  color: blue; 
  font-weight: bold; 
  font-size: 20px;
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
ul li{
	font-size: 18px;
	color: gray;
}
.flashes{
	
}
.chooseFile input{
	padding: 10px;
}
.submitButton{
	margin-top: 50px;
}
