<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css">
    <script type="text/javascript">
      $(document).ready(function() {
    $('#myTable').DataTable( {
        "processing": true,
        "ajax": {
            url: "/products_list/", 
            dataSrc: "data"
        },
        "scrollY": 500,
        "deferRender": true,
        "scroller": true,
        "columns": [
            {data: "sku"},
            {data: "name"},
            {data: "description"},
            {data: "status"}]
            });
      });

    </script>
  </head>
  <body>
    <div class="container">
      <h3>ACME Product list</h3>
      <table id="myTable" class="ui celled table" style="width:100%">
              <thead>
                <tr>
              <th>SKU</th>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead> 
      </table>
  </div>
  </body>
</html>